policy_module(obj_3, 1.0.0)

########################################
#
# Declarations
#

type obj_3_t;
type obj_3_exec_t;
init_daemon_domain(obj_3_t, obj_3_exec_t)

permissive obj_3_t;

########################################
#
# obj_3 local policy
#
allow obj_3_t self:fifo_file rw_fifo_file_perms;
allow obj_3_t self:unix_stream_socket create_stream_socket_perms;

domain_use_interactive_fds(obj_3_t)

files_read_etc_files(obj_3_t)

miscfiles_read_localization(obj_3_t)
