policy_module(secret_access, 1.0.0)

########################################
#
# Declarations
#

type secret_access_t;
type secret_access_exec_t;
init_daemon_domain(secret_access_t, secret_access_exec_t)

permissive secret_access_t;

########################################
#
# secret_access local policy
#
allow secret_access_t self:fifo_file rw_fifo_file_perms;
allow secret_access_t self:unix_stream_socket create_stream_socket_perms;

domain_use_interactive_fds(secret_access_t)

files_read_etc_files(secret_access_t)

miscfiles_read_localization(secret_access_t)
