
## <summary>policy for cwalld</summary>

########################################
## <summary>
##	Execute cwalld_exec_t in the cwalld domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`cwalld_domtrans',`
	gen_require(`
		type cwalld_t, cwalld_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, cwalld_exec_t, cwalld_t)
')

######################################
## <summary>
##	Execute cwalld in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cwalld_exec',`
	gen_require(`
		type cwalld_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, cwalld_exec_t)
')
########################################
## <summary>
##	Read cwalld's log files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`cwalld_read_log',`
	gen_require(`
		type cwalld_log_t;
	')

	logging_search_logs($1)
	read_files_pattern($1, cwalld_log_t, cwalld_log_t)
')

########################################
## <summary>
##	Append to cwalld log files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cwalld_append_log',`
	gen_require(`
		type cwalld_log_t;
	')

	logging_search_logs($1)
	append_files_pattern($1, cwalld_log_t, cwalld_log_t)
')

########################################
## <summary>
##	Manage cwalld log files
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cwalld_manage_log',`
	gen_require(`
		type cwalld_log_t;
	')

	logging_search_logs($1)
	manage_dirs_pattern($1, cwalld_log_t, cwalld_log_t)
	manage_files_pattern($1, cwalld_log_t, cwalld_log_t)
	manage_lnk_files_pattern($1, cwalld_log_t, cwalld_log_t)
')

########################################
## <summary>
##	All of the rules required to administrate
##	an cwalld environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`cwalld_admin',`
	gen_require(`
		type cwalld_t;
		type cwalld_log_t;
	')

	allow $1 cwalld_t:process { signal_perms };
	ps_process_pattern($1, cwalld_t)

    tunable_policy(`deny_ptrace',`',`
        allow $1 cwalld_t:process ptrace;
    ')

	logging_search_logs($1)
	admin_pattern($1, cwalld_log_t)
	optional_policy(`
		systemd_passwd_agent_exec($1)
		systemd_read_fifo_file_passwd_run($1)
	')
')
