
## <summary>policy for cwalld</summary>

########################################
## <summary>
##	Execute cwalld_exec_t in the cwalld domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`cwalld_domtrans',`
	gen_require(`
		type cwalld_t, cwalld_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, cwalld_exec_t, cwalld_t)
')

######################################
## <summary>
##	Execute cwalld in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cwalld_exec',`
	gen_require(`
		type cwalld_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, cwalld_exec_t)
')

########################################
## <summary>
##	Search cwalld lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cwalld_search_lib',`
	gen_require(`
		type cwalld_var_lib_t;
	')

	allow $1 cwalld_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read cwalld lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cwalld_read_lib_files',`
	gen_require(`
		type cwalld_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, cwalld_var_lib_t, cwalld_var_lib_t)
')

########################################
## <summary>
##	Manage cwalld lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cwalld_manage_lib_files',`
	gen_require(`
		type cwalld_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, cwalld_var_lib_t, cwalld_var_lib_t)
')

########################################
## <summary>
##	Manage cwalld lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cwalld_manage_lib_dirs',`
	gen_require(`
		type cwalld_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, cwalld_var_lib_t, cwalld_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an cwalld environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`cwalld_admin',`
	gen_require(`
		type cwalld_t;
		type cwalld_var_lib_t;
	')

	allow $1 cwalld_t:process { signal_perms };
	ps_process_pattern($1, cwalld_t)

    tunable_policy(`deny_ptrace',`',`
        allow $1 cwalld_t:process ptrace;
    ')

	files_search_var_lib($1)
	admin_pattern($1, cwalld_var_lib_t)
	optional_policy(`
		systemd_passwd_agent_exec($1)
		systemd_read_fifo_file_passwd_run($1)
	')
')
