
## <summary>policy for pub</summary>

########################################
## <summary>
##	Execute pub_exec_t in the pub domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`pub_domtrans',`
	gen_require(`
		type pub_t, pub_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, pub_exec_t, pub_t)
')

######################################
## <summary>
##	Execute pub in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`pub_exec',`
	gen_require(`
		type pub_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, pub_exec_t)
')
