
## <summary>policy for jupiterians</summary>

########################################
## <summary>
##	Execute jupiterians_exec_t in the jupiterians domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`jupiterians_domtrans',`
	gen_require(`
		type jupiterians_t, jupiterians_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, jupiterians_exec_t, jupiterians_t)
')

######################################
## <summary>
##	Execute jupiterians in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`jupiterians_exec',`
	gen_require(`
		type jupiterians_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, jupiterians_exec_t)
')
