policy_module(jupiterians, 1.0.0)

########################################
#
# Declarations
#

type jupiterians_t;
type jupiterians_exec_t;
init_daemon_domain(jupiterians_t, jupiterians_exec_t)

permissive jupiterians_t;

########################################
#
# jupiterians local policy
#
allow jupiterians_t self:fifo_file rw_fifo_file_perms;
allow jupiterians_t self:unix_stream_socket create_stream_socket_perms;

files_type(jupiterians_t)
files_type(jupiterians_exec_t)

domain_use_interactive_fds(jupiterians_t)

files_read_etc_files(jupiterians_t)

miscfiles_read_localization(jupiterians_t)
