
## <summary>policy for obj_3</summary>

########################################
## <summary>
##	Execute obj_3_exec_t in the obj_3 domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`obj_3_domtrans',`
	gen_require(`
		type obj_3_t, obj_3_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, obj_3_exec_t, obj_3_t)
')

######################################
## <summary>
##	Execute obj_3 in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`obj_3_exec',`
	gen_require(`
		type obj_3_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, obj_3_exec_t)
')
