
## <summary>policy for gamma_faction</summary>

########################################
## <summary>
##	Execute gamma_faction_exec_t in the gamma_faction domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`gamma_faction_domtrans',`
	gen_require(`
		type gamma_faction_t, gamma_faction_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, gamma_faction_exec_t, gamma_faction_t)
')

######################################
## <summary>
##	Execute gamma_faction in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gamma_faction_exec',`
	gen_require(`
		type gamma_faction_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, gamma_faction_exec_t)
')
