policy_module(gamma_faction, 1.0.0)

########################################
#
# Declarations
#

type gamma_faction_t;
type gamma_faction_exec_t;
init_daemon_domain(gamma_faction_t, gamma_faction_exec_t)

permissive gamma_faction_t;

########################################
#
# gamma_faction local policy
#
allow gamma_faction_t self:fifo_file rw_fifo_file_perms;
allow gamma_faction_t self:unix_stream_socket create_stream_socket_perms;

files_type(gamma_faction_t)
files_type(gamma_faction_exec_t)

domain_use_interactive_fds(gamma_faction_t)

files_read_etc_files(gamma_faction_t)

miscfiles_read_localization(gamma_faction_t)
