policy_module(foo_daemon, 1.0.0)

########################################
#
# Declarations
#

type foo_daemon_t;
type foo_daemon_exec_t;
init_daemon_domain(foo_daemon_t, foo_daemon_exec_t)

permissive foo_daemon_t;

########################################
#
# foo_daemon local policy
#
allow foo_daemon_t self:fifo_file rw_fifo_file_perms;
allow foo_daemon_t self:unix_stream_socket create_stream_socket_perms;

domain_use_interactive_fds(foo_daemon_t)

files_read_etc_files(foo_daemon_t)

miscfiles_read_localization(foo_daemon_t)
