policy_module(happy_daemon, 1.0.0)

########################################
#
# Declarations
#

type happy_daemon_t;
type happy_daemon_exec_t;

require {
  type whisper_t;
  type secret_t;
  type user_home_t;
  type user_home_dir_t;
}

init_daemon_domain(happy_daemon_t, happy_daemon_exec_t)

permissive happy_daemon_t;

########################################
#
# happy_daemon local policy
#
allow happy_daemon_t self:fifo_file rw_fifo_file_perms;
allow happy_daemon_t self:unix_stream_socket create_stream_socket_perms;
allow happy_daemon_t whisper_t:file { read getattr open write };
allow happy_daemon_t secret_t:file { read getattr open write };
allow happy_daemon_t user_home_t:file { read getattr open write };
allow happy_daemon_t whisper_t:dir { search read open };
allow happy_daemon_t secret_t:dir { search read open };
allow happy_daemon_t user_home_t:dir { search read open };
list_dirs_pattern(happy_daemon_t, user_home_dir_t, whisper_t);
read_files_pattern(happy_daemon_t, user_home_dir_t, whisper_t);

domain_use_interactive_fds(happy_daemon_t)

files_read_etc_files(happy_daemon_t)

miscfiles_read_localization(happy_daemon_t)
