
## <summary>policy for secret</summary>

########################################
## <summary>
##	Execute secret_exec_t in the secret domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`secret_domtrans',`
	gen_require(`
		type secret_t, secret_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, secret_exec_t, secret_t)
')

######################################
## <summary>
##	Execute secret in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`secret_exec',`
	gen_require(`
		type secret_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, secret_exec_t)
')
