
# binaries
cwalld-enforce
cwalldtestd
cwalldspeedd

# test daemon binaries
alpha_civild
alpha_curiousd
beta_civild
beta_evild
gamma_civild
gamma_confusedd
unconfined_daemond

cwalldspeedd
cwalldtestd


# testing
*.out

# latex artifacts
*.aux
*.bbl
*.blg
*.fbd_latexmk
*.fls
*.log
*.toc
