
## <summary>policy for bar_daemon</summary>

########################################
## <summary>
##	Execute bar_daemon_exec_t in the bar_daemon domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`bar_daemon_domtrans',`
	gen_require(`
		type bar_daemon_t, bar_daemon_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, bar_daemon_exec_t, bar_daemon_t)
')

######################################
## <summary>
##	Execute bar_daemon in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bar_daemon_exec',`
	gen_require(`
		type bar_daemon_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, bar_daemon_exec_t)
')
