
## <summary>policy for daemon_3</summary>

########################################
## <summary>
##	Execute daemon_3_exec_t in the daemon_3 domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`daemon_3_domtrans',`
	gen_require(`
		type daemon_3_t, daemon_3_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, daemon_3_exec_t, daemon_3_t)
')

######################################
## <summary>
##	Execute daemon_3 in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`daemon_3_exec',`
	gen_require(`
		type daemon_3_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, daemon_3_exec_t)
')
