
## <summary>policy for martians</summary>

########################################
## <summary>
##	Execute martians_exec_t in the martians domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`martians_domtrans',`
	gen_require(`
		type martians_t, martians_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, martians_exec_t, martians_t)
')

######################################
## <summary>
##	Execute martians in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`martians_exec',`
	gen_require(`
		type martians_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, martians_exec_t)
')
