
## <summary>policy for obj_2</summary>

########################################
## <summary>
##	Execute obj_2_exec_t in the obj_2 domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`obj_2_domtrans',`
	gen_require(`
		type obj_2_t, obj_2_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, obj_2_exec_t, obj_2_t)
')

######################################
## <summary>
##	Execute obj_2 in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`obj_2_exec',`
	gen_require(`
		type obj_2_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, obj_2_exec_t)
')
