policy_module(delta_rw, 1.0.0)

########################################
#
# Declarations
#

type delta_rw_t;
type delta_rw_exec_t;

require { 
	type delta_faction_t;
	type sanitised_t;
	type user_home_t;
}

init_daemon_domain(delta_rw_t, delta_rw_exec_t)

permissive delta_rw_t;

########################################
#
# delta_rw local policy
#
allow delta_rw_t self:fifo_file rw_fifo_file_perms;
allow delta_rw_t self:unix_stream_socket create_stream_socket_perms;

domain_use_interactive_fds(delta_rw_t)

files_read_etc_files(delta_rw_t)

miscfiles_read_localization(delta_rw_t)

# cwalld rules
allow delta_rw_t delta_faction_t:file { read write getattr open };
allow delta_rw_t sanitised_t:file { read getattr open };

# navigation rules
allow delta_rw_t user_home_t:dir { search read open };
