
## <summary>policy for all_r</summary>

########################################
## <summary>
##	Execute all_r_exec_t in the all_r domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`all_r_domtrans',`
	gen_require(`
		type all_r_t, all_r_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, all_r_exec_t, all_r_t)
')

######################################
## <summary>
##	Execute all_r in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`all_r_exec',`
	gen_require(`
		type all_r_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, all_r_exec_t)
')
