
## <summary>policy for daemon_4</summary>

########################################
## <summary>
##	Execute daemon_4_exec_t in the daemon_4 domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`daemon_4_domtrans',`
	gen_require(`
		type daemon_4_t, daemon_4_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, daemon_4_exec_t, daemon_4_t)
')

######################################
## <summary>
##	Execute daemon_4 in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`daemon_4_exec',`
	gen_require(`
		type daemon_4_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, daemon_4_exec_t)
')
