policy_module(daemon_4, 1.0.0)

########################################
#
# Declarations
#

type daemon_4_t;
type daemon_4_exec_t;
init_daemon_domain(daemon_4_t, daemon_4_exec_t)

permissive daemon_4_t;

########################################
#
# daemon_4 local policy
#
allow daemon_4_t self:fifo_file rw_fifo_file_perms;
allow daemon_4_t self:unix_stream_socket create_stream_socket_perms;

domain_use_interactive_fds(daemon_4_t)

files_read_etc_files(daemon_4_t)

miscfiles_read_localization(daemon_4_t)
