policy_module(alpha_rw, 1.0.0)

########################################
#
# Declarations
#

type alpha_rw_t;
type alpha_rw_exec_t;

require {
  type alpha_t;
  type sanitised_t;
  type user_home_t;
}

init_daemon_domain(alpha_rw_t, alpha_rw_exec_t)

########################################
#
# alpha_rw local policy
#
allow alpha_rw_t self:fifo_file rw_fifo_file_perms;
allow alpha_rw_t self:unix_stream_socket create_stream_socket_perms;

domain_use_interactive_fds(alpha_rw_t)

files_read_etc_files(alpha_rw_t)

miscfiles_read_localization(alpha_rw_t)

# cwalld policies
allow alpha_rw_t alpha_t:file { read write getattr open };
allow alpha_rw_t sanitised_t:file { read getattr open };

# navigational policies
allow alpha_rw_t user_home_t:dir { search read open write add_name };
