policy_module(my_secret_access, 1.0);

require {
  user foo_u;
  user bar_u;
}

type foo_secret_t;

allow foo_u foo_secret_t:file { create read write getattr unlink setattr };

neverallow bar_u foo_secret_t:file { create read write getattr unlink setattr };
