
## <summary>policy for secret_access</summary>

########################################
## <summary>
##	Execute secret_access_exec_t in the secret_access domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`secret_access_domtrans',`
	gen_require(`
		type secret_access_t, secret_access_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, secret_access_exec_t, secret_access_t)
')

######################################
## <summary>
##	Execute secret_access in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`secret_access_exec',`
	gen_require(`
		type secret_access_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, secret_access_exec_t)
')
