policy_module(delta_faction, 1.0.0)

########################################
#
# Declarations
#

type delta_faction_t;
type delta_faction_exec_t;
init_daemon_domain(delta_faction_t, delta_faction_exec_t)

permissive delta_faction_t;

########################################
#
# delta_faction local policy
#
allow delta_faction_t self:fifo_file rw_fifo_file_perms;
allow delta_faction_t self:unix_stream_socket create_stream_socket_perms;

files_type(delta_faction_t)
files_type(delta_faction_exec_t)

domain_use_interactive_fds(delta_faction_t)

files_read_etc_files(delta_faction_t)

miscfiles_read_localization(delta_faction_t)
