policy_module(category_test, 1.0.0)

########################################
#
# Declarations
#

type category_test_t;
type category_test_exec_t;
init_daemon_domain(category_test_t, category_test_exec_t)

permissive category_test_t;

########################################
#
# category_test local policy
#
allow category_test_t self:fifo_file rw_fifo_file_perms;
allow category_test_t self:unix_stream_socket create_stream_socket_perms;

domain_use_interactive_fds(category_test_t)

files_read_etc_files(category_test_t)

miscfiles_read_localization(category_test_t)
