policy_module(obj_1, 1.0.0)

########################################
#
# Declarations
#

type obj_1_t;
type obj_1_exec_t;
init_daemon_domain(obj_1_t, obj_1_exec_t)

permissive obj_1_t;

########################################
#
# obj_1 local policy
#
allow obj_1_t self:fifo_file rw_fifo_file_perms;
allow obj_1_t self:unix_stream_socket create_stream_socket_perms;

domain_use_interactive_fds(obj_1_t)

files_read_etc_files(obj_1_t)

miscfiles_read_localization(obj_1_t)
