policy_module(allow_secret_access, 1.0)

require {
  type secret_file_t;
  type user_t;
  #type foo_u;
  #type bar_u;
}


#allow user_t secret_file_t:file { read getattr open };
neverallow user_t secret_file_t:file { read getattr open };
#allow foo_u secret_file_t:file { read getattr open };
#neverallow bar_u secret_file_t:file { read getattr open };
