policy_module(custom_users, 1.0);

require {
  user foo_u;
  user bar_u;
}

type bar_t;
type foo_t;

domain_type(foo_t);
domain_type(bar_t);

role bar_r types bar_t;
role foo_r types foo_t;

allow user_t foo_t;
allow user_t bar_t;

allow foo_t secret_file_t:file { read getattr open };
neverallow bar_t secret_file_t:file { read getattr open };
