policy_module(machina, 1.0.0)

########################################
#
# Declarations
#

type machina_t;
type machina_exec_t;
init_daemon_domain(machina_t, machina_exec_t)

permissive machina_t;

########################################
#
# machina local policy
#
allow machina_t self:fifo_file rw_fifo_file_perms;
allow machina_t self:unix_stream_socket create_stream_socket_perms;

files_type(machina_t)
files_type(machina_exec_t)

domain_use_interactive_fds(machina_t)

files_read_etc_files(machina_t)

miscfiles_read_localization(machina_t)
