
## <summary>policy for machina</summary>

########################################
## <summary>
##	Execute machina_exec_t in the machina domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`machina_domtrans',`
	gen_require(`
		type machina_t, machina_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, machina_exec_t, machina_t)
')

######################################
## <summary>
##	Execute machina in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`machina_exec',`
	gen_require(`
		type machina_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, machina_exec_t)
')
