
## <summary>policy for gamma</summary>

########################################
## <summary>
##	Execute gamma_exec_t in the gamma domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`gamma_domtrans',`
	gen_require(`
		type gamma_t, gamma_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, gamma_exec_t, gamma_t)
')

######################################
## <summary>
##	Execute gamma in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gamma_exec',`
	gen_require(`
		type gamma_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, gamma_exec_t)
')
