
## <summary>policy for alpha_faction</summary>

########################################
## <summary>
##	Execute alpha_faction_exec_t in the alpha_faction domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`alpha_faction_domtrans',`
	gen_require(`
		type alpha_faction_t, alpha_faction_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, alpha_faction_exec_t, alpha_faction_t)
')

######################################
## <summary>
##	Execute alpha_faction in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`alpha_faction_exec',`
	gen_require(`
		type alpha_faction_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, alpha_faction_exec_t)
')
